<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccination Home</title>
    <style>
        nav{
            background-color: #333;
            color: aliceblue;
        }
    </style>
</head>
<body>
    <!-- Navigation bar -->
    <header>
        <nav>
            <h3>Vaccination India</h3>
        </nav>
    </header>
<!-- Main Body -->
    <main>
        <div class="page">
            <div class="heading">
                <h1>Welcome to Vaccination Registry Control</h1>
            </div>
    
            <div class="form-container">
                <form action="/registrationSuccessful" method="post">
                    <label for="idType">ID Type:</label>
                    <select id="idType" name="idType">
                        <option value="AadharCard">Aadhar Card</option>
                        <option value="PanCard">PAN Card</option>
                        <option value="VotingCard">Voting Card</option>
                    </select>
                    <br>
            
                    <label for="idDetails">ID Details:</label>
                    <input type="text" id="idDetails" name="idDetails" required>
                    <br>
            
                    <label>Vaccine Name:</label>
                    <div>
                        <input type="radio" id="covaxin" name="vaccineName" value="Covaxin">
                        <label for="covaxin">Covaxin</label>
                    </div>
            
                    <div>
                        <input type="radio" id="covishield" name="vaccineName" value="Covishield">
                        <label for="covishield">Covishield</label>
                    </div>
            
                    <div>
                        <input type="radio" id="sputnik" name="vaccineName" value="Sputnik">
                        <label for="sputnik">Sputnik</label>
                    </div>
            
                    <br>
            
                    <input type="submit" value="Submit">
                </form>
    
            </div>
        </div>
    </main>
<!-- Footer -->
    <footer></footer>
    
</body>
</html>